{% extends "base.html" %}
{% set page.title = "Home" %}
{% set page.nav = "home" %}

{% block content %}
	<h1>Annotations</h1>
	<div class="row">
		<div class="col-md-12">
			<h2>Guidelines</h2>
			<h3>Spacing</h3>
			<ul>
				<li>All annotations should be on their own line</li>
				<li><code>@TestVisible</code> is the rare exception
					<ul>
						<li>When making a variable visible, <code>@TestVisible</code> should be inline with the variable declaration
							<pre class="prettyprint java" style="max-width: 600px;">@TestVisible private String myString = 'hello world';</pre></li>
						<li>When making a method visible, <code>@TestVisible</code> should be on the line prior to the declaration by itself
							<pre class="prettyprint java" style="max-width: 600px;">@TestVisible
private void myMethod() {
    // Do something
}</pre></li>
					</ul>
				</li>
			</ul>
			<h3>Capitalization</h3>
			<ul>
				<li>As exampled in the <a href="https://developer.salesforce.com/docs/atlas.en-us.apexcode.meta/apexcode/apex_classes_annotation.htm">documentation</a> the first letter of each word should be capitalized.</li>
			</ul>
			<h2>Checkstyle Rules</h2>
			<pre class="prettyprint xml">{{load_checkstyle("annotation_checks.xml") | escape }}</pre>
		</div>
	</div>
{% endblock %}