{% extends "base.html" %}
{% set page.title = "Home" %}
{% set page.nav = "home" %}

{% block content %}
	<h1>SOQL</h1>
	<h2>Examples</h2>
	<div class="row">
		<div class="col-md-6">
			<h3>Basic SOQL</h3>
			<pre style="margin-top: 10px;" class="prettyprint">select Field1__c,
    Field2__c,
    Field3__c,
    Object__r.ChildField__c,
    OtherField__c,
    (
        select Field4__c
        from RelatedObject__r
    ), (
        select Field5__c
        from OtherRelatedObject__r
        where Field5__c in ('value1', 'value2')
    )
from MyObject__c
where Field1__c = :myVar and
    Field2__c &lt; 2 and
    (
        DAY_IN_YEAR(Field3__c) = 32 or
        Field3__c = null
    )
order by OtherField__c
limit 10
offset 10 </pre>
		</div>
		<div class="col-md-6">
			<h3>Aggregate SOQL</h3>
			<pre style="margin-top: 10px;" class="prettyprint">select COUNT(Id) count,
    MAX(Field1__c) max_field,
    Field3__c
from MyObject__c
where Field2__c &lt; 2
group by Field3__c
order by COUNT(Id)</pre>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h2>Guidelines</h2>
			<h3>Usage</h3>
			<p>In general, SOQL should be declared inline using the square bracket notation.  When not possible, dynamic SOQL should conform to the same naming and capitalization requirements</p>
			<h3>Naming</h3>
			<ul>
				<li>Fields should be alphabetized appear in upper camelcase.</li>
				<li>Related queries should appear after all member queries, also in alphabetical order.</li>
				<li>Should a field contain special characters (for example underscore), those fields should in ascii order.</li>
			</ul>
			<h3>Spacing</h3>
			<ul>
				<li>Each field should be on it's own line.</li>
				<li>The first field should be on the same line as the <code>select</code>.</li>
				<li>Subsequent fields should be intented further in.</li>
				<li>Parentheses should be on their own line</li>
				<li>Where stanzas that are combined with a logical operator (and / or) should have the operator at the end of the line</li>
			</ul>
			<h3>Capitalization</h3>
			<ul>
				<li>Action words (<code>select</code>, <code>from</code>, <code>where</code>), logical operators (<code>and</code>, <code>or</code>) should be lowercased</li>
				<li>Date functions (<code>DAY_IN_YEAR</code>, <code>CALENDAR_YEAR</code>), aggregate functions (<code>MAX</code>, <code>AVG</code>), or literals (<code>TODAY</code>) should be capitalized</li>
			</ul>
			<h2>Checkstyle Rules</h2>
			<pre class="prettyprint xml">{{load_checkstyle("soql_checks.xml") | escape }}</pre>
		</div>
	</div>
{% endblock %}